#pA00 	{ background: url("Paginas_BN/C9_01.png"); }
#PC9_01_01 { left:30px; top:30px; }
#PC9_01_02 { left:263px; top:29px; }
#PC9_01_03 { left:603px; top:30px; }
#PC9_01_04 { left:20px; top:291px; }
#PC9_01_05 { left:249px; top:291px; }
#PC9_01_06 { left:508px; top:289px; }
#GPC9_01_01 { left:30px; top:30px; }
#GPC9_01_02 { left:268px; top:27px; }
#GPC9_01_03 { left:462px; top:153px; }
#GPC9_01_04 { left:625px; top:40px; }
#GPC9_01_05 { left:115px; top:289px; }
#GPC9_01_06 { left:510px; top:287px; }
#GPC9_01_07 { left:678px; top:300px; }

#pA01	{ background: url("Paginas_BN/C9_03.png"); }
#PC9_03_01 { left:0px; top:0px; }

#pA02 	{ background: url("Paginas_BN/C9_04.png"); }
#PC9_04_01 { left:17px; top:27px; }
#PC9_04_02 { left:398px; top:29px; }
#GPC9_04_01 { left:60px; top:120px; }
#GPC9_04_02 { left:218px; top:45px; }
#GPC9_04_03 { left:630px; top:165px; }

#pA03 	{ background: url("Paginas_BN/C9_05.png"); }
#PC9_05_01 { left:23px; top:32px; }
#PC9_05_02 { left:294px; top:31px; }
#PC9_05_03 { left:22px; top:331px; }
#PC9_05_04 { left:374px; top:331px; }
#GPC9_05_01 { left:160px; top:45px; }
#GPC9_05_02 { left:443px; top:33px; }
#GPC9_05_03 {  left: 219px; top: 342px;}
#GPC9_05_04 { left: 390px;top: 345px;}

#pA04 	{ background: url("Paginas_BN/C9_06.png"); }
#PC9_06_01 { left:21px; top:24px; }
#PC9_06_02 { left:21px; top:301px; }
#PC9_06_03 { left:381px; top:301px; }
#GPC9_06_01 { left:420px; top:25px; }
#GPC9_06_02 { left:220px; top:330px; }


#pA05 	{ background: url("Paginas_BN/C9_07.png"); }
#PC9_07_01 { left:24px; top:30px; }
#PC9_07_02 { left:249px; top:31px; }
#PC9_07_03 { left:456px; top:31px; }
#PC9_07_04 { left:24px; top:323px; }
#GPC9_07_01 { left:600px; top:35px; }
#GPC9_07_02 { left:280px; top:480px; }

#pA06 	{ background: url("Paginas_BN/C9_08.png"); }
#PC9_08_01 { left:15px; top:23px; }

#pA07 	{ background: url("Paginas_BN/C9_09.png"); }
#PC9_09_01 { left:20px; top:31px; }
#PC9_09_02 { left:365px; top:30px; }
#PC9_09_03 { left:565px; top:30px; }
#PC9_09_04 { left:18px; top:220px; }
#PC9_09_05 { left:18px; top:403px; }
#GPC9_09_01 { left:150px; top:30px; }
#GPC9_09_02 { left:210px; top:430px; }

#pA08 	{ background: url("Paginas_BN/C9_010.png"); }
#PC9_010_01 { left:30px; top:28px; }
#PC9_010_02 { left:28px; top:345px; }
#PC9_010_03 { left:403px; top:29px; }
#GPC9_10_01 { left:37px; top:30px; }
#GPC9_10_02 { left:177px; top:34px; }
#GPC9_10_03 { left:33px; top:108px; }
#GPC9_10_04 { left:252px; top:68px; }
#GPC9_10_05 { left:74px; top:265px; }

#pA09 	{ background: url("Paginas_BN/C9_011.png"); }
#PC9_011_01 { left:27px; top:29px; }
#PC9_011_02 { left:406px; top:28px; }
#PC9_011_03 { left:27px; top:332px; }
#GPC9_11_01 { left:130px; top:32px; }
#GPC9_11_02 { left:217px; top:190px; }
#GPC9_11_03 { left:590px; top:43px; }
#GPC9_11_04 { left:542px; top:112px; }
#GPC9_11_05 { left:422px; top:352px; }
